files:
  "/etc/pki/tls/certs/server.crt":
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDqTCCApGgAwIBAgIUVhii+a/cSGFaNrfcdxWRxbBi9e0wDQYJKoZIhvcNAQEL
      BQAwZDELMAkGA1UEBhMCVVMxDjAMBgNVBAgMBVN0YXRlMQ0wCwYDVQQHDARDaXR5
      MRUwEwYDVQQKDAxPcmdhbml6YXRpb24xCzAJBgNVBAsMAklUMRIwEAYDVQQDDAls
      b2NhbGhvc3QwHhcNMjUwMjIxMDYxNDA5WhcNMjYwMjIxMDYxNDA5WjBkMQswCQYD
      VQQGEwJVUzEOMAwGA1UECAwFU3RhdGUxDTALBgNVBAcMBENpdHkxFTATBgNVBAoM
      DE9yZ2FuaXphdGlvbjELMAkGA1UECwwCSVQxEjAQBgNVBAMMCWxvY2FsaG9zdDCC
      ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAIf2KerjbhivEobAFwedsOBp
      okWRu+wSbipshD2IQVCQraOnvjK8aqtvlHH8S38I5xnF8mRv1FA6mdLotY46NCwM
      T1oJ9rMhVC/T6S9tUpcjkPFZGUBN3RHzR176sHzXhZsnSMfGkZEJgJPVgzNgaAZL
      7on5bCaGarhAneun4IoqX8k+tvuasZbPsO1bxgEO2xHgAaO4lfe0JhNZbIoyRROt
      dOY7xRKt9vViC/PxYIuYqGLZ4f1L+V4IefRnLRbrkWdHPrt9wSV24BJDLTegEmAX
      O39TzP0HYIyUWuv7nHYhi1kirQ8niCXTq6iJ7rhanW6OISyk2J3/Tf0sTcDRDCUC
      AwEAAaNTMFEwHQYDVR0OBBYEFEzDsMN9Vw1+mq5TTXHG4HZTPb7BMB8GA1UdIwQY
      MBaAFEzDsMN9Vw1+mq5TTXHG4HZTPb7BMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZI
      hvcNAQELBQADggEBAG4Hx+bjW/6Cp9Ir1Hq2n6Uu3P59YcS8JSdGNCha8mWqQitJ
      k3Qvb1sjIDbpP/NyrYjtBr37I2/SZw5zUb9KAe1CirOK9hl3jJTdhMDwZ70hfLWF
      930N3jaZql24LDfLnQnvk8WJq2Fhj3TwGgxHognyzkkT/1tRma35izO+CKJRdgmY
      gURCYPwQexMVjsqTbQViuLfrixZDnDZqMO+ZBHMxvhT29FeWOaboucMYbUNjmcWf
      Aw0SwaOg6GF02FImOCJnXoYUs0X8Hj/Wz1TpkICZ8mOCxIvb8iQxuOi8wPKoaIp2
      srPi+tUlHwxkEmJmZbjG2wSsRnS9m67q4Bts5RA=
      -----END CERTIFICATE-----

  "/etc/pki/tls/private/server.key":
    mode: "000600"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEugIBADANBgkqhkiG9w0BAQEFAASCBKQwggSgAgEAAoIBAQCH9inq424YrxKG
      wBcHnbDgaaJFkbvsEm4qbIQ9iEFQkK2jp74yvGqrb5Rx/Et/COcZxfJkb9RQOpnS
      6LWOOjQsDE9aCfazIVQv0+kvbVKXI5DxWRlATd0R80de+rB814WbJ0jHxpGRCYCT
      1YMzYGgGS+6J+Wwmhmq4QJ3rp+CKKl/JPrb7mrGWz7DtW8YBDtsR4AGjuJX3tCYT
      WWyKMkUTrXTmO8USrfb1Ygvz8WCLmKhi2eH9S/leCHn0Zy0W65FnRz67fcElduAS
      Qy03oBJgFzt/U8z9B2CMlFrr+5x2IYtZIq0PJ4gl06uoie64Wp1ujiEspNid/039
      LE3A0QwlAgMBAAECgf8+gdHx4UE4v2r5/AVLj0gpRlvOhTxPB/gXTVcxwsDPFGnV
      UbnfQujz5lmCXupHQIKa6BxwUArSD5RpRrgeTgv1lneSGtZNuHtPqEx0fptG5t4l
      JOd/tVJBXRdz6sGL0A0Hm4+tIJiw+4nH8m4Fy7efkYyhHBGGnu0Y9sZ/L+vSmuQR
      jOYqpz9ixX17Y1lAoTJ5Fxuh4WfarTXq+mbTgRRSIfZum0tb+URoxYc+2xxWZcRd
      WgxXMfKIjxPBFmWyf1fA50bhL1x6vXpQfG7atLZ9A521ClVYuxTttw5A3jSAVaqd
      rKHbedgUfDk0bVkzjU51hFfB97BNquw7vzEJU0ECgYEAuOX2Ic/lds8oEMC4qVOJ
      rrim45HpoLADQM3Llp4v2hIFxjTQdKGAbxAHhTv14X70qhFv/WG9iYLLdkGTcq88
      gXzXstGJahqx2p1o9/ufnjup0SkkJ0t27YxGPv3Za/LkINc3GRgBrzL8IIuP83gm
      HU0IU6yijzqTpXDCB7qJhmECgYEAvD6zQfq2GmMZwuYpenMRiUMd4ieAvDVqh6Bq
      hug7X1Nn/OFsZl+m35zR+VDkbCxM/aZNoFPew35KxebiUEjwJ5UOBIozsgnrX/j9
      rGk0fmYo8UBfddmbW6C9asj4oDGBXMu4onfVGBW0RQwjruqLwehwKezXaIBrD2Tx
      f2qoVEUCgYAbt10N9HwRMzxuRnVn7H3XExbxRg4faEMUk8TQ7yV9KvZyn7gfw5Xd
      ECoQbsyM4NsMI1EGSoB+/HxDXdEcf+gyAOTUiVRv81B11OLHSZDDx23NTL1+pnFN
      apmdF7Bf3ikUQy6fNFoMSThCKKmLdZdBDSsSX+5+SemYAy8SuYOkAQKBgAntRIa2
      MeQyValxeb57UvFqGKlUa/WA251LWFLE7FyaiWFMgerkIGiqXGhJW8JYk7bMjktm
      INkuT8Mf6c9SCVgNBDA5GYDKBR+KgdYVti70NDSEsIQGdarfTx3Se0n3UlsSYyou
      J46dlmQNv9P5imUvXLrZQoLAQuUM7a9KcJYBAoGAB40Nalmw4mk2rfhbPRHU3RGU
      yVL2DdP/x+TmZCw7eTbeHbVaXrFkz2jXuI5tIzz+wDnHZaFqyJNxE+jr4WRYHIlR
      E4IU+IItGSQktMub2ct4eAfiObLra+1gPwB/r2zt4gkkK4MGXBp5q11TvosG1bmL
      0cvmkTbGcs3L6ImdVPI=
      -----END RSA PRIVATE KEY-----
