container_commands:
  01_configure_nginx:
    command: |
      if [ -f /etc/nginx/nginx.conf ]; then
        sed -i '/listen 80;/a \\tlisten 443 ssl;' /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
        sed -i '/listen 443 ssl;/a \\tssl_certificate /etc/pki/tls/certs/server.crt;' /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
        sed -i '/ssl_certificate/a \\tssl_certificate_key /etc/pki/tls/private/server.key;' /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
      fi

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"] }
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0